
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div> 
        <h2>Index</h2>
        <hr />
        <input type="button" value="Veri Getir" id="btnVeri" />
    </div>
    <script>
        $("#btnVeri").click( function(){
            $.ajax({
                type: "GET",
                url: "/Home/Index3",
                success: function (sonuc)
                {
                    alert(sonuc.Id);
                    alert(sonuc.Adi);
                    alert(sonuc.Fiyati);
                    alert(sonuc.Aciklama);
                }

            });
        });
    </script>
</body>
</html>
